$color-bg: #0f172a;       // Темный фон сайта
$color-surface: #1e293b;  // Фон карточек и шапки
$color-primary: #38bdf8;  // Наш главный голубой акцент
$color-text: #f8fafc;     // Светлый текст
$color-text-muted: #94a3b8;// Приглушенный серый
